@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Zen Maru Gothic','html',Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;
}

hmtl,body{
    width: 100%;
    height: 100%;
}

:root{
    --p1:#000000;
    --p2:#0d1721;
    --p3:#1d2a35;
    --b1:#f5f5f5;
    --b2:#E5E5E5;
    --b3:#F2F2F2;
    --cin1:#666666;
    --cin2:#B2B2B2;
    --c1:#00f8f8;
    --c2:#00baba;
    --c3:#007c7c;
    --c4:#003e3e;
    --lhtml:#ff7816;
    --acss:#2196f3;
    --ajs:#ffdf00;     
}
/*#000000,#003e3e,#007c7c,#00baba,#00f8f8*/

::-webkit-scrollbar{
    background-color: var(--c4);
}

::-webkit-scrollbar-thumb{
    background-color: var(--c2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--c1);
    border-radius: 10px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* */

header{
    width: 100%;
    height: 100%;
    position: relative;
    background-color:var(--p3) ;
}

.logo-header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: max-content; 
    padding: 1em 0 0.5em 2em;
}

.logo-header img{
    max-width: 70px;
    transition: 0.5s;
}

.logo-header img:hover{
    transform: translateY(-3px);
}

.opcoes{
    width: 100%;
    flex-direction: row;
    position: relative;
}

.menu-responsivo-wraper{
    display: none;
}

.opcoes-responsivo{
    display: none;
}

.opcoes ul{
    list-style: none;
}

.opcoes ul li{
    display: inline;
    padding: 0.5em;
}

.opcoes ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--b2);
    font-size: 1.2em;
    transition: 0.5s;
    border-radius: 100px;
    padding:0.5em;
}

.opcoes ul li a:hover{
    background-color: var(--p2);
}

/* */

.entrar{
    width: 100%;
    position: relative;
    text-align: right;
    max-width: max-content;
}

.entrar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar ul li{
    transition: 0.5s;   
    margin-right: 1em;
}

.entrar ul li:hover{
    transform: translateY(-5px);
}

.entrar ul li a{
    transition: 0.5s;
    padding: 0.5em 0.6em;
    border-radius: 50px;
    text-decoration: none;
    color: var(--b2);
    font-size: 1.2em;
}

.entrar .cadastro{
    background-color: var(--p1);
    color: var(--b1);
}

.entrar .cadastro:hover{
    background-color: var(--c1);
    color: var(--b3);
}

.entrar .login{
    color: var(--b3);
}

.entrar .login:hover{
    background-color: var(--c1)
}

/* */

section{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--p2);
}

.titulo-fe{
    padding: 4em 0;
    text-align: center;
    margin: auto;
}

.titulo-fe h1{
    font-size: 3em;
    color: var(--b3);
    font-weight: normal;
    text-transform: uppercase;
}

.titulo-fe span{
    z-index: 2;
    font-size: 6em;
    color: var(--c3);
    transition: 0.3s;
    cursor: pointer;
}

.titulo-fe span:hover{
    color: var(--c1);
}

.desc-fe{
    cursor: default;
    display: none;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.abrir.active .desc-fe{
    display: block;
}

.desc-fe p{
    color: var(--b3);
    font-size: 0.4em;
}

.desc-fe ol{
    text-align: left;
    width: 100%;
    max-width: max-content;
    margin: auto;
    display: block;
    padding: 0.5em 0 0 0;
    list-style-type: none;
}

.desc-fe ol li{
    font-size: 0.4em;
    color: var(--b3);
    transition: 0.3s;
}

.desc-fe ol li:hover{
    transform: translateY(-10px);
}

.desc-fe ion-icon{
    color: var(--c1);
}

/* */

main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--b2);
}

.container-ling{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.linguagens{
    margin:auto;
    width: 100%;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    transition: 0.3s;
}

.linguagens a{
    text-decoration: none;
    color: var(--p1);
}

.titulo-linguagens{
    max-width: max-content;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding: 1.2em 0 1em 0;
}

h2{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: max-content;
    margin: auto;
}

/* */

.html{
    width: 100%;
    height: 100%;
    position: relative;
}

#resultado-html{
    width: 100%;
    display: none;
    margin: auto;
    text-align: center;
}

.html.active #resultado-html{
    display: block;
}

.html h2:hover{
    color: var(--lhtml);
    transform: translateY(-5px);
}

ion-icon.img-html{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin:0 2em;
    transition: 0.3s;
}

.img-html:hover{
    color: var(--lhtml);
    transform: translateY(-10px);
}

/* */

#resultado-css{
    display: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.css.active #resultado-css{
    display: block;
}

#resultado-css img{
    padding: 1em;
    border-radius: 50px;
    transition: 0.3s;
    margin: 2em 0;
}

.css h2:hover{
    color: var(--acss);
    transform: translateY(-5px);
}

ion-icon.img-css{
    width: 150px;
    height: 150px;
    margin:0 2em;
    cursor: pointer;
    transition: 0.3s;
}

.img-css:hover{
    color: var(--acss);
    transform: translateY(-10px);
}

/* */

#resultado-js{
    display: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.js.active #resultado-js{
    display: block;
}

.js h2:hover{
    color: var(--ajs);
    transform: translateY(-5px);
}

ion-icon.img-js{
    margin: 0 2em;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.img-js:hover{
    color: var(--ajs);
    transform: translateY(-10px);
}

/* */

.texto{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 1em;
}

.texto p{
    font-size: 1.2em;
}

/* */

.estudar-linguagens{
    width: 100%;
    height: 100%;
    position: relative;
}

.estudar-html{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.estudar-html a{
    text-decoration: none;
}

.titulo-html{
    margin: auto;
    max-width: max-content;
    padding: 2em 0;
}

.titulo-html h1{
    font-size: 10em;
    text-transform: uppercase;
    color: var(--b3);
    font-weight: normal;
    transition: 0.3s;
}

.titulo-html h1:hover{
    transform: translateY(-10px);
    color: var(--lhtml);
}

.titulo-html h3{
    font-size: 3em;
    color: var(--c1);
    font-weight: normal;
}

.codigos-html{
    margin:1.5em 0 3em 0;
}

.codigos-html img{
    border-radius: 10px;
    transition: 0.3s;
}

.codigos-html img:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px var(--lhtml);
}

/* */

.estudar-css{
    width: 100%;
    height: 100%;
    text-align: center;
}

.titulo-css{
    padding: 2em 0;
    max-width: max-content;
    margin: auto;
}

.titulo-css h1{
    font-size: 10em;
    text-transform: uppercase;
    color: var(--b3);
    font-weight: normal;
    transition: 0.3s;
}

.titulo-css h1:hover{
    transform: translateY(-10px);
    color: var(--acss);
}

.titulo-css h3{
    font-size: 3em;
    color: var(--c1);
    font-weight: normal;
}

.codigos-css{
    margin:1em 0;
}

.codigos-css img{
    border-radius: 10px;
    transition: 0.3s;
}

.codigos-css img:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px var(--acss);
}

/* */

.estudar-js{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.titulo-js{
    max-width: max-content;
    margin: auto;
    padding: 2em 0;
}

.titulo-js h1{
    font-size: 10em;
    text-transform: uppercase;
    color: var(--b3);
    font-weight: normal;
    transition: 0.3s;
}

.titulo-js h1:hover{
    color: var(--ajs);
    transform: translateY(-10px);
}

.titulo-js h3{
    font-size: 3em;
    color: var(--c1);
    font-weight: normal;
}

.codigos-js{
    margin:1em 0;
}

.codigos-js img{
    border-radius: 10px;
    transition: 0.3s;
}

.codigos-js img:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px var(--ajs);
}

/* */

#sobre{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2em 0;
}

.titulo-sobre{
    padding: 2em 0 0 0;
    margin: auto;
    width: 100%;
    max-width: max-content;
}

.titulo-sobre h1{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

.texto-sobre{
    width:100%;
    max-width: max-content;
    margin: auto;
    padding: 1em 0 2em 0;
}

.texto-sobre p{
    text-align: center;
    font-size: 2em;
}

.texto-sobre ol{
    list-style-type: disc;
    padding-top: 2em;
    width: 100%;
    max-width: max-content;
    margin: auto;
    text-align: left;
}

.texto-sobre ol li{
    font-size: 1.5em;
}

/* */

footer{
    padding: 1em;
    width: 100%;
    height: 100%;
    position: relative;
    background:linear-gradient(to left, var(--p1),var(--p2));
}

.logo-footer{
    padding: 1em 2em 0.5em 2em;
}

.logo-footer img{
    max-width: 70px;
    transition: 0.5s;
}

.logo-footer img:hover{
    transform: translateY(-10px);
}

.redes-sociais{

    width: 100%;
    text-align: center;
}

.redes-sociais ul{
    display: inline;
}

.redes-sociais ul li{
    display: inline;
}

.redes-sociais ul li a{
    text-decoration: none;
}

.redes-sociais img{
    border-radius: 40%;
    padding: 1em;
    transition: 0.3s;
    filter: invert(2);
}

.redes-sociais img:hover{
    transform: translateY(-10px);
    background-color: var(--);
}

/* */

@media (max-width:900px){
 
    .logo-header{
        width: 100%;
    }

    .opcoes{
        display: none;
    }

    #fechar-menu-responsivo{
        transition: 0.3s;
        margin: 1em 0 0 0.5em;
        max-width: 25px;
        filter: invert(1);
        cursor: pointer;
        border-radius: 10px;
    }

    #fechar-menu-responsivo:hover{
        transform: translateY(-5px);
        background-color: var(--c1);
    }

    .menu-responsivo-wraper{
        display: block;
        position: relative;
        top: 0.1em;
        left: 1em;
        width: 25%;
    }

    #menu-responsivo-img{
        transition: 0.3s;
        cursor: pointer;
        max-width: 50px;
    }

    #menu-responsivo-img:hover{
        transform: translateY(-10px);
    }

    .opcoes-responsivo{
        display: none;
        width: 100%;
        height: 100%;
    }

    .opcoes-responsivo ul{
        list-style: none;
        background-color: var(--p1);
        border-radius: 10px;
    }

    .opcoes-responsivo ul li{
        padding: 0.5em;
        display: inline-block;
        margin: auto;
        position: relative;
        bottom: 0.5em;
        text-align: center;
    }

    .opcoes-responsivo ul li a{
        border-radius: 10px;
        padding: 0.5em;
        transition: 0.3s;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--c1);
    }

    .opcoes-responsivo ul li a:hover{
        background-color: var(--c2);
    }

    .entrar{
        width: 100%;
        padding: 1em 0 0 0;
        text-align: center;
    }

    .entrar ul{
        display: block;
    }

    .entrar ul li{
        padding: 1em 0;
        margin: 0.5em;
    }

    .linguagens h2{
        padding: 1em 2em;
        text-align: center;
        margin: auto;
    }

    .linguagens h2:hover{
        font-size: 1.5em;
    }

    #estudar-linguagens h1{
        font-size: 3em;
    }

    #estudar-linguagens h3{
        font-size: 2em;
    }

    #estudar-linguagens img{
        display: none;
    }

    .texto-sobre{
        margin: auto;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    .logo-footer{
        max-width: max-content;
    }

    .logo-footer img{
        max-width: 50px;
    }
    
}
